Feedback Form.json
{
  "name": "Feedback Form",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_HSpjgOWkB6sAp_utzNAGdV9ZL1wq_lAmZrXM1n9p88",
          "mode": "list",
          "cachedResultName": "Feedback Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_HSpjgOWkB6sAp_utzNAGdV9ZL1wq_lAmZrXM1n9p88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_HSpjgOWkB6sAp_utzNAGdV9ZL1wq_lAmZrXM1n9p88/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": "={{ $('Edit Fields').item.json.Rating }}",
            "Name": "={{ $('Edit Fields').item.json.Name }}",
            "Email": "={{ $('Edit Fields').item.json.Email }}",
            "Feedback Messgae": "={{ $('Edit Fields').item.json['Feedback Message'] }}",
            "Date Submitted": "={{ $('Edit Fields').item.json.Date }}",
            "Time Submitted": "={{ $('Edit Fields').item.json.Timer }}",
            "Sentiment": "={{ $json.output.sentiment }}",
            "Category": "={{ $json.output.category }}",
            "Summary": "={{ $json.output.summary }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback Messgae",
              "displayName": "Feedback Messgae",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Submitted",
              "displayName": "Date Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time Submitted",
              "displayName": "Time Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -704,
        -576
      ],
      "id": "c097b019-dc37-430e-8686-2e42085895f8",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bXczTx40ceHZoBMc",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e243918-f8cc-4163-82f2-052ccc68f996",
              "leftValue": "={{ $json.Sentiment }}",
              "rightValue": "Neutral",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f0cf764e-f3ce-4098-8bc3-ed43219506f8",
              "leftValue": "={{ $json.Sentiment }}",
              "rightValue": "Negative",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -576
      ],
      "id": "948ddcf8-4c60-4a3b-97f8-9980ee297c6d",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "pranay291102@gmail.com",
        "subject": "=Urgent: Low Rating on Feedback with Sentiment - {{ $json.Sentiment }}",
        "emailType": "text",
        "message": "={{ $json.Name }} has given us rating of {{ $json.Rating }} and the feedback message is {{ $json['Feedback Messgae'] }} \n\n\nPlease contact him at {{ $json.Email }}\nAs soon as possible & Resolve the issue.",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        -672
      ],
      "id": "a5e581ff-1d8d-4d4f-aa93-87a5295cda6f",
      "name": "Send a message",
      "webhookId": "888764d3-e703-4b3d-abc4-cf273228d63d",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kdU1WkhgucAyotI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pranaygurjar9014@gmail.com",
        "subject": "High rating: Collect Testimonial",
        "emailType": "text",
        "message": "={{ $json.Name }} has given us rating of {{ $json.Rating }} and the feedback message is {{ $json['Feedback Messgae'] }} \n\n\nPlease contact him at {{ $json.Email }}\nAs soon as possible & collect the testimonial",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        -480
      ],
      "id": "acd052c6-d052-4a6c-a1fa-e7f627364b21",
      "name": "Send a message1",
      "webhookId": "888764d3-e703-4b3d-abc4-cf273228d63d",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kdU1WkhgucAyotI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Feedback Form",
        "formDescription": "Please fill the feedback form.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Rating",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your Name here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your Email here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback Message",
              "fieldType": "textarea",
              "placeholder": "Please give your suggestion!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1504,
        -576
      ],
      "id": "f732d44c-88ea-4db1-b5a5-e87ca260c3d2",
      "name": "On form submission1",
      "webhookId": "3f471cf5-0584-4fd4-ac75-601b592de069"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d39e2ad0-2d00-40d3-94e3-ea0dc723c6b9",
              "name": "Rating",
              "value": "={{ $json.Rating }}",
              "type": "string"
            },
            {
              "id": "5c886c8b-cdd8-4d25-abcf-2fa28ba11e05",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "312f0917-fb16-4ad8-9811-4a511e6ce7ec",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "7afb90f4-5d47-488d-a2b4-d205a0c20e87",
              "name": "Feedback Message",
              "value": "={{ $json['Feedback Message'] }}",
              "type": "string"
            },
            {
              "id": "3c4d17ad-26c3-4890-baf8-6e6a37911fd0",
              "name": "Date",
              "value": "={{ DateTime.now().setZone('Asia/Kolkata').toFormat('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "34ba917e-5f0f-4775-9964-a1c58be1b2bf",
              "name": "Timer",
              "value": "={{ DateTime.now().setZone('Asia/Kolkata').toFormat('HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -576
      ],
      "id": "f1e4154b-ae22-41b7-aca8-993b7459513b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistance analyzing customer feedback. Analyze the user's message below and return a JSON object with three keys: \"sentiment\", \"category\", and \"summary\".\n\n  -  The \"sentiment\" key must be one of these exact strings: \"Positive\", \"Negative\", or \"Neutral\".\n  -  The \"category\" key must be one these exact strings: \"Bug Report\", \"Feature Request\", \"General Praise\", or \"Other\".\n  -  The \"summary\" key should be a concise, one-sentence summary of the user's message.\n\nHere is the user's message:\n{{ $json['Feedback Message'] }}\nAnd user's rating: {{ $json.Rating }}\n\n**IMPORTANT: You MUST replay with OLNY the raw JSON object itself, without any surrounding text, explanations, or markdown formatting like \\`\\`\\`json.** ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1056,
        -576
      ],
      "id": "317807ed-92a3-4bf7-9d9c-a4216302a4bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1104,
        -352
      ],
      "id": "6fab2051-f897-4cd4-aafb-9544a8206c04",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qSdCLbOEDRERs9kg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentiment\": \"Negative\",\n  \"category\":\"Bug Report\",\n  \"summary\":\"The user is reporting that the checkout button is not working correctly\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -880,
        -352
      ],
      "id": "d3365329-24e6-4df3-a40b-1d6d2fb0a2dc",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "On form submission1": [
      {
        "json": {
          "Rating": "3",
          "Name": "Pranay",
          "Email": "pranaygurjar9014@gmail.com",
          "Feedback Message": "Its look great but can you change the colors in blue as well.",
          "submittedAt": "2026-02-17T22:14:59.370+05:30",
          "formMode": "test"
        }
      },
      {
        "json": {
          "Rating": "5",
          "Name": "Nitin",
          "Email": "nitin@gmail.com",
          "Feedback Message": "Lover the app.",
          "submittedAt": "2026-02-17T22:14:59.370+05:30",
          "formMode": "test"
        }
      },
      {
        "json": {
          "Rating": "2",
          "Name": "Nayan",
          "Email": "mukati@gmail.com",
          "Feedback Message": "It's keep on failing at the load Screen.",
          "submittedAt": "2026-02-17T22:14:59.370+05:30",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "071f53f3-ca74-410a-b050-5df321dd139b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e02b865bf2bac1bd42fbdb16b5d2dca5788f361d42835b0883c5673e2ad7fdee"
  },
  "id": "QWklHKBPQ6WMcZID",
  "tags": []
}